/* Mixin */
@mixin vertical-align($position: relative, $transY: "-50%") {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(#{$transY});
  -ms-transform: translateY(#{$transY});
  transform: translateY(#{$transY});
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  margin: auto;
  max-width: 75%;
  @include vertical-align($transY: "-90%");
}